.container {
  display: grid;
  justify-content: center;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 65px 1fr 65px;
  grid-template-areas: 
    "menu header"
    "menu main"
    "footer footer";
}

.logo-placeholder {
  height: 125px; /* Adjust as needed */
}

.menu {
  grid-area: menu;
  background-color: #FFA372;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF894F;
}

.main {
  grid-area: main;
  background-color: #FFD3F5;
}

.footer {
  grid-area: footer;
  background-color: #f9a6e6;
}
