.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 65px 1fr 65px;
  grid-template-areas: 
    "menu header"
    "menu main"
    "footer footer";
}

.menu {
  grid-area: menu;
  background-color: #FFA372;
}

.header {
  grid-area: header;
  background-color: #FF894F;
}

.main {
  grid-area: main;
  background-color: #FFD3F5;
}

.footer {
  grid-area: footer;
  background-color: #f9a6e6;
}
